body {
  color: white;
  background-color: rgb(39, 39, 39);
}

.header_title {
  color: white;
  text-align: center;
}

.blogs {
  padding: 10px;
  margin:auto;
}

.blog { 
  width: 70%;
  height: 200px;
  margin: 30px;
  border-style: solid;
  border-width: thick;
  border-radius: 20px;
  border-color: white;
}