body {
  color: white;
  background-color: rgb(39, 39, 39);
  font-family: Merriweather;
}
@media only screen and (min-width: 600px) {
.content{
  display:flex;
  align-items: center;
  
  flex-direction: column;
  position:relative;
  min-height: 100vh;
  width:100%;
}

a {
  text-decoration: none;
}

header {
  height: 100px;
}

#first_blog {
  background-image: url('../images/Leonardo_Diffusion_A_detailed_illustration_indigenous_maori_wa_2.jpg');
}

#second_blog {
  background-image: url('../images/DreamShaper_32_a_boat_in_the_river_of_Ninh_Binh_with_sunset_ba_2.jpg');
  color: black;
}

#third_blog {
  background-image: url('../images/Leonardo_Diffusion_a_dad_fishing_with_son_in_a_river_with_a_su_2.jpg');
  color: black;
}

#fourth_blog {
  background-image: url('../images/Leonardo_Diffusion_Ink_drawing_of_a_raven_side_profile_moden_a_1.jpg');
}

#fifth_blog {
  background-image: url('../images/Default_A_detailed_illustration_of_flowers_intricated_details_1_e62d747a-f07c-4770-9215-024723c3af22_1.jpg');
  color: white;
}

#sixth_blog {
  background-image: url('../images/Default_Seamless_patterns_of_planets_and_stars_cosmic_design_r_1_3cc08e01-94b3-40b7-a424-4a4fc9f3ef18_1.jpg');
  color: white;
}

#seventh_blog {
  background-image: url('../images/problemsolving.jpg');
  color: white;
}

#eighth_blog {
  background-image: url('../images/brain.jpg');
  color: white;
}

#ninth_blog {
  background-image: url('../images/marae.jpg');
  color: white;
}

#tenth_blog {
  background-image: url('../images/thoughts.jpg');
  color: white;
}

.header_title {
  color: white;
  text-align: center;
}

.blogs {
  background-color: rgb(50, 50, 50);
  border-radius: 20px;
  top: 70px;
  text-align: center;
  width: 800px;
  margin-bottom: 5.5rem;
}

.blog { 
  height: 200px;
  margin: 30px;
  border-radius: 20px;
  color: white;
  padding: 15px;
}

.blog:hover {
  cursor: hand;
  cursor: pointer;
  opacity: .9;
}

.blog_content {
  background-color: rgb(50, 50, 50);
  border-radius: 20px;
  padding: 30px;
  top: 70px;
  text-align: left;
  width: 800px;
}

footer {
  position:absolute;
  background-color: rgb(46, 46, 46);
  text-align: center;
  width: 100%;
  bottom: 0;
  height: 3.3rem;
}
}